<section class="section admin-site">
  <br><br>
  <div class="col-sm-12 col-md-offset-1 col-md-10">
    <h1><br><%= t "admin_order.order_dish" %></h1><br>
    <div class="bloc col-xs-12">
      <div class="form-dish">
        <%= form_for [:admin, order, order_dish] do |f| %>
          <div class="col-xs-12">
            <%= f.label :dish, t("admin.dishes.form.name"), class: "form-label-2" %>
            <% if order_dish.dish.present? %>
              <p class="p-form"><%= order_dish.dish.name %></p>
            <% else %>
              <%= f.select :dish_id, dishes, {include_blank: false,
                selected: :dish_id}, class: "btn btn-default" %>
            <% end %>
          </div>
          <div class="col-xs-12">
            <%= f.label :quantity, t("order.quantity"), class: "form-label-2" %>
            <%= f.number_field :quantity, class: "form-control", min: 1 %>
          </div>
          <div class="col-xs-12 text-center">
            <% if order_dish.new_record? %>
                <%= f.submit t "admin.categories.show.add_dish_button", class: "btn btn-primary"%>
            <% else %>
                <%= f.submit t "admin.dishes.show.edit_dish", class: "btn btn-success"%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
