<div id="discount-render">
  <div id="discount-row">
    <% if find_discount(params[:discount]).present? %>
      <% if find_discount(params[:discount]) == true %>
        <p class="discount-result">
          <%= t "discount.reenter" %>
        </p>
      <% elsif find_discount(params[:discount]).status == 2 %>
        <p class="discount-result">
          <%= t "discount.used_code" %>
        </p>
      <% elsif find_discount(params[:discount]).status == 1 %>
        <p class="discount-result" id="code-true">
          <%= t "discount.discount" %>
          <strong><%= find_discount(params[:discount]).discount %></strong>
          <%= t "discount.discount2" %>
        </p>
        <div id="choose-code" class="choose-code-btn discount-result">
          <p class="text-background">
            <%= t "discount.choose_code" %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
