<%= search_form_for [:admin, order.search], remote: true, method: :get do |f| %>
  <div class="apple-pagination">
    <%= paginate order.orders_search, remote: true %>
  </div>
  <br>
  <div class="b10">
    <%= f.text_field :code_cont, class:"pj-form-field pj-form-field-search w350",
      placeholder: t("admin_order.search_by_code") %>
    <div class="float_right t5">
      <%= link_to t(".all"), {q: nil, remote: true},
        class:"pj-button btn-all"%>
      <%= link_to t("admin_order.confirmed"), {q: {is_confirm_eq: true}, remote: true},
        class:"pj-button btn-all" %>
      <%= link_to t("admin.orders.form.canceled"), {q: {is_confirm_eq: false}, remote: true},
        class:"pj-button btn-all" %>
    </div>
  </div>
  <div class="pj-form-filter-advanced col-sm-12">
    <span class="pj-menu-list-arrow"></span>
    <div class="pj-form pj-form-search">
      <div class="w350">
        <p>
          <%= f.label :date_from, class: "date" %>
          <%= f.text_field :day_gteq,
            class: "datepicker pj-form-field pointer w150 f-text f-calendar" %>
        </p>
        <p>
          <%= f.label :date_to, class: "date" %>
          <%= f.text_field :day_lteq,
            class: "datepicker pj-form-field pointer w150 f-text f-calendar" %>
        </p>
      </div>
      <div class="w350">
        <p>
          <%= f.label :table_id, class: "title" %>
          <span class="inline-block">
            <%= f.collection_select :table_id_eq, tables, "id", "id",
              {include_blank: t(".choose")},
              {class: "btn btn-default pj-form-field w180"} %>
          </span>
        </p>
        <p>
          <%= f.label :name, class: "title" %>
          <span class="inline-block">
            <%= f.text_field :guest_name_cont,
              class: "pj-form-field w180" %>
          </span>
        </p>
        <p>
          <label class="title">&nbsp;</label>
          <%= f.submit  t(".search"), class: "pj-button" %>
          <%= link_to t("admin_order.cancel"), {remote: true}, class: "pj-button",
            id: "clear" %>
        </p>
      </div>
      <div class="w350">
        <p>
          <%= f.label :phone, class: "title" %>
          <span class="inline-block">
            <%= f.text_field :guest_phone_num_cont,
              class: "pj-form-field w180" %>
          </span>
        </p>
        <p>
          <%= f.label :email, class: "title" %>
          <span class="inline-block">
            <%= f.text_field :guest_email_cont,
              class: "pj-form-field w180" %>
          </span>
        </p>
      </div>
      <br class="clear_both">
    </div>
  </div>
  <div class="apple-pagination">
    <%= paginate order.orders_search, remote: true %>
  </div>
  <br>
  <table class="table-order table">
    <thead>
      <tr>
        <th class="left width-90">
          <%= sort_link order.search, :code, t(".code"), {},
            {remote: true, method: :get} %>
        </th>
        <th class="left width-170">
          <%= sort_link order.search, :date, t(".date"), {},
            {remote: true, method: :get} %>
        </th>
        <th class="left width-110"><%= t "admin.orders.form.time" %></th>
        <th class="left width-170">
          <%= sort_link order.search, :guest_name, t(".guest_name"), {},
            {remote: true, method: :get} %>
        </th>
        <th class="text-center width-90"><%= t ".table" %></th>
        <th class="text-center width-90">
          <%= sort_link order.search, :table_capacity, t(".capacity"), {},
            {remote: true, method: :get} %>
        </th>
        <th class="text-center width-90">
          <%= sort_link order.search, :discount, t(".discount"), {},
            {remote: true, method: :get} %>
        </th>
        <th class="text-center width-90 text-center">
          <%= t ".status" %>
        </th>
        <th class="actions" colspan="2"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <% if order.orders_search.any? %>
        <% order.orders_search.each do |order| %>
          <% if order.code != nil %>
            <tr>
              <td><%= link_to order.code, admin_order_path(order) %></td>
              <td><%= order.day.in_time_zone(
                Settings.time_zone).strftime('%b %d %Y') %></td>
              <td>
                <% if order.time_in == 1 %><%= t "select.em" %><% end %>
                <% if order.time_in == 2 %><%= t "select.lm" %><% end %>
                <% if order.time_in == 3 %><%= t "select.ea" %><% end %>
                <% if order.time_in == 4 %><%= t "select.la" %><% end %>
                <% if order.time_in == 5 %><%= t "select.ee" %><% end %>
                <% if order.time_in == 6 %><%= t "select.la" %><% end %>
              </td>
              <td><%= order.guest.name %></td>
              <td class="text-center"><%= order.table_id %></td>
              <td class="text-center"><%= order.capacity %></td>
              <td class="text-center"><%= order.discount %>
                <i class="fa fa-percent"></i></td>
              <td class="text-center">
                <% if order.is_confirm? %>
                  <span class="label-green"><%= t ".approved" %></span>
                <% else %>
                  <span class="label-red"><%= t ".canceled" %></span>
                <% end %>
              </td>
              <td class="width-20">
                <%= link_to edit_admin_order_path(order) do %>
                  <i class="fa fa-lg fa-pencil-square-o"></i>
                <% end %>
              </td>
              <td class="width-20">
                <%= link_to admin_order_path(order), method: :delete,
                  data: {confirm: t("button.delete_warning")} do %>
                  <i class="fa fa-lg fa-times"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
