<thead>
<tr>
  <th><%= t "admin_order.product" %></th>
  <th><%= t "admin_order.type" %></th>
  <th><%= t "admin_order.original_price" %></th>
  <th><%= t "admin_order.quantity" %></th>
  <th><%= t "admin.combos.combo.discount" %></th>
  <th><%= t "admin_order.subtotal" %></th>
  <th colspan="2" class="text-center"><%= t "admin.orders.order.action" %></th>
</tr>
</thead>
<tbody>
<% order.order_dishes.each do |order_dish| %>
  <tr>
    <td class="total">
      <strong><%= link_to order_dish.dish.name,
        dish_path(order_dish.dish_id) %></strong>
    </td>
    <td class="total"><%= t "dishes.show.name" %></td>
    <td class="total">
      <%= number_to_currency order_dish.dish.price %>
    </td>
    <td class="total">
      <%= order_dish.quantity %>
    </td>
    <td class="total">0%</td>
    <td class="total">
      <%= number_to_currency order_dish.total_price %>
    </td>
    <td class="total width-10 text-center">
      <%= link_to edit_admin_order_order_dish_path(order,
        order_dish) do %>
        <i class="fa fa-lg fa-pencil-square-o"></i>
      <% end %>
    </td>
    <td class="total width-10 text-center">
      <%= link_to admin_order_order_dish_path(order,
        order_dish), method: :delete,
        data: { confirm: t("button.delete_warning") } do %>
        <i class="fa fa-lg fa-times"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
<tbody>
<% order.order_combos.each do |order_combo| %>
  <tr>
    <td class="total">
      <strong><%= link_to order_combo.combo.name,
        combo_path(order_combo.combo_id) %></strong>
    </td>
    <td class="total"><%= t "home.combo" %></td>
    <td class="total">
      <%= number_to_currency order_combo.combo.subtotal %>
    </td>
    <td class="total">
      <%= order_combo.quantity %>
    </td>
    <td class="total">
      <%= order_combo.combo.discount %>%
    </td>
    <td class="total">
      <%= number_to_currency order_combo.total_price %>
    </td>
    <td class="total width-10 text-center">
      <%= link_to edit_admin_order_order_combo_path(order,
        order_combo) do %>
        <i class="fa fa-lg fa-pencil-square-o"></i>
      <% end %>
    </td>
    <td class="total width-10 text-center">
      <%= link_to admin_order_order_combo_path(order, order_combo),
        method: :delete, data: { confirm: t("button.delete_warning") } do %>
        <i class="fa fa-lg fa-times"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
<tbody id="new-dish-row">

</tbody>
<tbody>
  <tr>
    <td class="btn-add-dish-row">
      <h4 class="dp-inline">
        <div class="btn btn-add-dish" id="btn-add-dish">
          <%= t "admin_order.add_dish" %></div>
       </h4>
      <h4 class="dp-inline">
        <div class="btn btn-add-dish" id="btn-add-combo">
          <%= t "admin_order.add_combo" %></div>
      </h4>
      <td colspan="6"></td>
      <td>
        <h4 class="dp-inline">
          <div class="btn btn-add-dish" id="btn-save-order">
            <%= t "order_detail.save" %></div>
        </h4>
      </td>
    </td>
  </tr>
</tbody>
