<h3 class="title"><%= t "admin_order.order_confirm" %></h3>
<table dir="ltr" class="default-dg-table">
  <tbody id="combo_dish">
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap">
      <b><%= t "admin.orders.order.code" %></b>
    </td>
    <td class="default_dg_td dg-left"><%= order.code %></td>
  </tr>
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap">
      <b><%= t "admin.orders.form.guest_name" %></b>
    </td>
    <td class="default_dg_td dg-left"><%= order.guest.name %></td>
  </tr>
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap">
      <b><%= t "admin_order.phone_num" %></b>
    </td>
    <td class="default_dg_td dg-left"><%= order.guest.phone_num %></td>
  </tr>
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap">
      <b><%= t "admin_order.email" %></b>
    </td>
    <td class="default_dg_td dg-left"><%= order.guest.email %></td>
  </tr>
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap">
      <b><%= t "admin.orders.form.date" %></b>
    </td>
    <td class="default_dg_td dg-left">
      <%= order.day.in_time_zone(Settings.time_zone).strftime('%b %d %Y') %>
    </td>
  </tr>
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap"><b>From</b></td>
    <td class="default_dg_td dg-left">
      <% if order.time_in == 1 %>
        <%= t "select.em" %><% end %>
      <% if order.time_in == 2 %>
        <%= t "select.lm" %><% end %>
      <% if order.time_in == 3 %>
        <%= t "select.ea" %><% end %>
      <% if order.time_in == 4 %>
        <%= t "select.la" %><% end %>
      <% if order.time_in == 5 %>
        <%= t "select.ee" %><% end %>
      <% if order.time_in == 6 %>
        <%= t "select.le" %><% end %>
    </td>
  </tr>
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap">
      <b><%= t "admin_order.table_id" %></b>
    </td>
    <td class="default_dg_td dg-left">
      <%= order.table_id %>
    </td>
  </tr>
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap">
      <b><%= t "admin.orders.form.capacity" %></b>
    </td>
    <td class="default_dg_td dg-left">
      <%= order.capacity %>
    </td>
  </tr>
  <tr class="dg_tr" id="di_row_0">
    <td class="default_dg_td dg-left dg-nowrap">
      <b><%= t "admin.orders.order.discount" %></b>
    </td>
    <td class="default_dg_td dg-left dg-nowrap">
      <%= order.discount %>%<br>
    </td>
  </tr>
  </tbody>
</table>
<br>
<div class="col-xs-12 text-center">
  <%= link_to t("admin.orders.edit.title"), edit_admin_order_path(order),
    class:"pj-button" %>
</div>
