<section class="section admin-site order-admin">
  <br><br>
  <div class="col-sm-10 col-sm-offset-1">
    <h1><%= t ".title" %></h1><br><br>
    <div class="bloc">
      <br>
      <%= render "order_info", order: @order %>
      <br><br>
      <h3 class="title order-item"><%= t "order.order_items" %> <span></span></h3>
      <h4 class="dp-inline">
        <%= link_to t("admin_order.add_dish"), new_admin_order_order_dish_path(@order),
          class:"btn btn-link" %>
      </h4>
      <h4 class="dp-inline">
        <%= link_to t("admin_order.add_combo"), new_admin_order_order_combo_path(@order),
          class:"btn btn-link" %>
      </h4>
      <br><br>
      <table class="items-table">
        <%= render "order_item", order: @order %>
        <tfoot>
        <tr>
          <td colspan="6" class="foot"><%= t "admin_order.total_notdiscount" %></td>
          <td class="foot uk-text-left" colspan="3">
            <%= number_to_currency @order.subtotal %>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="foot"><%= t "admin_order.voucher_discount" %></td>
          <td class="foot uk-text-left" colspan="3">
            <%= @order.discount %>%
          </td>
        </tr>
        <tr>
          <td class="total-price" colspan="6" align="right">
            <strong><%= t "admin_order.total" %></strong>
          </td>
          <td class="total-price" colspan="3">
            <strong>
              <%= number_to_currency (@order.subtotal * (100 -
                @order.discount))/100 %>
            </strong>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
