<section class="section admin-site">
  <br>
  <br>
  <h1><%= t ".title" %></h1>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="bloc">
      <table dir="ltr" class="default-dg-table">
        <tbody>
        <tr class="dg_tr" id="di_row_0">
          <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".name" %></b></td>
          <td class="default_dg_td dg-left"><%= @combo.name %></td>
        </tr>
        <tr class="dg_tr" id="di_row_0">
          <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".description" %></b></td>
          <td class="default_dg_td dg-left" colspan="2"><%= @combo.description %></td>
        </tr>
        </tbody>
      </table>
      <br>
      <h2><%= t ".dishes" %></h2>
      <table dir="ltr" class="default-dg-table">
        <tbody id="combo_dish">
        <tr class="dg_tr" style="" id="di_row_">
          <th class="default_dg_th dg-center dg-nowrap">
            <%= t ".no" %>
          </th>
          <th class="default_dg_th dg-left dg-nowrap" colspan="2">
            <%= t ".dish" %>
          </th>
          <th class="default_dg_th dg-center dg-nowrap">
            <%= t ".category" %>
          </th>
          <th class="default_dg_th dg-center dg-nowrap">
            <%= t ".opition" %>
          </th>
        </tr>
        <% @combo.dishes.each do |f| %>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-center dg-nowrap">
              <%= f.id %>
            </td>
            <td class="default_dg_td dg-left dg-nowrap" colspan="2">
              <%= link_to f.name, admin_dish_path(f) %>
            </td>
            <td class="default_dg_td dg-center dg-nowrap">
              <% @categories.each do |category| %>
                <% if f.categories.include? category %>
                  <% if category != f.categories.last %>
                    <%= link_to category.name, admin_category_path(category) %>,
                  <% else %>
                    <%= link_to category.name, admin_category_path(category) %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="default_dg_td dg-center dg-nowrap">
              <%= link_to t("button.delete"),
                admin_combo_dish_path(@combo.id, f.id),
                method: :delete, data: {confirm: t("button.delete_warning")} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <br><br>
      <div class="col-sm-12 edit-combo-button">
        <%= link_to t(".edit_combo_button"), edit_admin_combo_path(@combo),
          class: "btn btn-primary col-md-2 col-md-offset-5 back" %>
        <%= link_to t("button.cancel"), :back,
          class: "btn btn-link btn-lg pull-right" %>
      </div>
    </div>
  </div>
</section>
