<section id="login" class="parallax-section section-box">
  <div class="login-form">
    <h1 class= "stylish-heading h2style text-center">
      Check your order</h1>
    <%= render "shared/flash" %>

    <%= form_for :order, url: orders_path, method: :GET do |f| %>
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control form-group",
                          placeholder: "Your email" %>
        <%= f.label :order_code, class: "form-label" %>
        <%= f.text_field :code, class: "form-control form-group",
                         placeholder: "Your order code" %>
        <%= f.submit "Submit", class: "btn btn-primary log-btn" %>
    <% end %>
  </div>
</section>
