<section class="mk-main-wrapper-holder">
  <div class="theme-page-wrapper mk-grid vc_row-fluid">
    <div class="theme-content">
      <div class="vc-row vc_row-fluid">
        <div class="vc-col-sm-12 column_container height-full">
          <div id="padding-24" class="clearfix"></div>
        </div>
      </div>
      <div class="vc-row vc_row-fluid">
        <div class="vc-col-sm-6 column_container height-full">
          <h2 id="fancy-title-25" class="mk-fancy-title simple-style">
            <span><%= t "home.book_online" %></span>
          </h2>
          <div class="clearboth"></div>
          <div class="vc-inner vc-row vc_row-fluid">
            <div class="vc-column-container vc-col-sm-6">
              <div class="vc-column-inner ">
                <div class="wpb_wrapper">
                  <div id="text-block-26" class="mk-text-block">
                    <p><strong><%= t "home.reservations" %></strong>
                      <br>
                      <%= t "home.for_reservations" %>
                      <br>
                      <span class="tel"><%= t "home.tel" %></span>
                    </p>
                    <div class="clearboth"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc-column-container vc-col-sm-6">
              <div class="vc-column-inner">
                <div class="wpb_wrapper">
                  <div id="text-block-28" class="mk-text-block">
                    <p>
                      <strong><%= t "home.location" %></strong>
                      <br>
                      <%= t "home.review_delicions" %>
                      <br>
                      <%= t "home.san_francisco" %>
                      <br>
                      <%= t "home.ca_10110 " %>
                    </p>
                    <div class="clearboth"></div>
                  </div>
                </div>
              </div>
            </div>
          </div><br>
          <div class="mk-button-order">
            <%= link_to t(".book_table"), tables_path, target: "_self",
              class: "mk-button skin-dark mk-button--text" %>
          </div>
        </div>
        <div class="vc-col-sm-6 column_container height-full">
          <div class="mk-image simple-frame inside-image">
            <div class="mk-image-holder">
              <div class="mk-image-inner">
                <%= image_tag "http://belvedereshantigram.com/wp-content/uploads/2016/08/restaurants1.jpg",
                  class: "lightbox-false", alt: "book2", title: "book2" %>
              </div>
            </div>
            <div class="clearboth"></div>
          </div>
        </div>
      </div>
      <div class="vc-row vc_row-fluid ">
        <div class="vc-col-sm-12 column_container height-full">
          <div id="padding-29" class="clearfix"></div>
        </div>
      </div>
      <div class="clearboth"></div>
      <div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>
  </div>
</section>
