<section class="mk-page-section-wrapper">
  <div id="page-section-19" class="mk-page-section self-hosted full_layout full-width-19 center-y">
    <div class="layer1"></div>
    <div class="background-layer"></div>
    <div class="page-section-content vc-row-fluid mk-grid">
      <div class="mk-padding-wrapper">
        <div class="vc-col-sm-12 column_container height-full">
          <div class="vc-inner vc-row vc-row-fluid">
            <div class="vc-column-container vc-col-sm-6">
              <div class="vc-column-inner">
                <div class="wpb_wrapper">
                  <section id="gallery-loop-20" class="mk-gallery clearfix">
                    <article class="two-column mk-gallery-item simple-frame">
                      <div class="item-holder">
                        <div class="image-hover-overlay"></div>
                        <%= image_tag "http://www.roast-restaurant.com/wp-content/uploads/2014/05/beefweb.jpg",
                          alt: "img", title: "Roast Beef", class: "mk-lightbox mk-image-lightbox" %>
                        <span class="gallery-inner">
                          <%= image_tag "http://www.roast-restaurant.com/wp-content/uploads/2014/05/beefweb.jpg",
                            title: "Roast Beef", alt: "mg" %>
                        </span>
                      </div>
                    </article>
                    <article class="two-column mk-gallery-item simple-frame">
                      <div class="item-holder">
                        <div class="image-hover-overlay"></div>
                        <%= image_tag "http://www.roast-restaurant.com/wp-content/uploads/2014/05/betroot-rizoto-web.jpg",
                          alt: "img", title: "Beetroot Risotto", class: "mk-lightbox mk-image-lightbox" %>
                        <span class="gallery-inner">
                          <%= image_tag "http://www.roast-restaurant.com/wp-content/uploads/2014/05/betroot-rizoto-web.jpg",
                            title: "Beetroot Risotto", alt: "img" %>
                        </span>
                      </div>
                    </article>
                    <article class="two-column mk-gallery-item simple-frame">
                      <div class="item-holder">
                        <div class="image-hover-overlay"></div>
                        <%= image_tag "http://www.roast-restaurant.com/wp-content/uploads/2014/05/lobster-web.jpg",
                          alt: "img", title: "Lobster", class: "mk-lightbox mk-image-lightbox" %>
                        <span class="gallery-inner">
                          <%= image_tag "http://www.roast-restaurant.com/wp-content/uploads/2014/05/lobster-web.jpg",
                            title: "Lobster", alt: "img" %>
                        </span>
                      </div>
                    </article>
                    <article class="two-column mk-gallery-item simple-frame">
                      <div class="item-holder">
                        <div class="image-hover-overlay"></div>
                        <%= image_tag "http://www.roast-restaurant.com/wp-content/uploads/2014/05/salad-1.jpg",
                            alt: "img", title: "Chicory Salad", class: "mk-lightbox mk-image-lightbox" %>
                        <span class="gallery-inner">
                          <%= image_tag "http://www.roast-restaurant.com/wp-content/uploads/2014/05/salad-1.jpg",
                            title: "Chicory Salad", alt: "img" %>
                        </span>
                      </div>
                    </article>
                    <div class="clearboth"></div>
                  </section>
                </div>
              </div>
            </div>
            <div class="vc-column-container vc-col-sm-6">
              <div class="vc-column-inner ">
                <div class="wpb-wrapper">
                  <h2 id="fancy-title-21" class="mk-fancy-title simple-style">
                    <span><%= t "home.great_food" %></span>
                  </h2>
                  <div class="clearboth"></div>
                  <div id="text-block-22" class="mk-text-block">
                    <p>
                      <span><%= t "home.description"%></span>
                    </p>
                    <div class="clearboth"></div>
                  </div>
                  <div id="mk-button-23" class="mk-button-container">
                    <%= link_to t(".view_menu"), dishes_path, target: "_self",
                      class: "mk-button skin-light mk-button--text" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>
  </div>
</section>
