<div class="map2">
  <div id="btn-1" class="btn-table btn-batsu
    btn-rough-big text-center"><%= t "table.tab1" %></div>
  <div class="row2">
    <div id="btn-2" class="btn-table btn-batsu
      btn-rough-sm text-center"><%= t "table.tab2" %></div>
    <div id="btn-3" class="btn-table btn-batsu
      btn-rough-sm text-center"><%= t "table.tab3" %></div>
  </div>
  <div class="row3">Outside</div>
  <div class="row2">
    <div id="btn-4" class="btn-table btn-batsu
      btn-rough-sm text-center"><%= t "table.tab4" %></div>
    <div id="btn-5" class="btn-table btn-batsu
      btn-rough-sm text-center"><%= t "table.tab5" %></div>
  </div>
  <div id="btn-6" class="btn-table btn-batsu
    btn-rough-big text-center"><%= t "table.tab6" %></div>
</div>
<div class="map3">
  <div>
    <div id="btn-7" class="btn-table btn-batsu btn-rough-md
      text-center btn-left btn-top2"><%= t "table.tab7" %></div>
    <div id="btn-8" class="btn-table btn-batsu btn-rough-huge
      text-center btn-center btn-top"><%= t "table.tab8" %></div>
    <div id="btn-9" class="btn-table btn-batsu btn-rough-md
      text-center btn-right btn-top2"><%= t "table.tab9" %></div>
  </div>
  <div>
    <div id="btn-10" class="btn-table btn-batsu btn-rough-md
      text-center btn-left btn-midtop"><%= t "table.tab10" %></div>
    <div id="btn-11" class="btn-table btn-batsu btn-rough-md
      text-center btn-right btn-midtop"><%= t "table.tab11" %></div>
    <div id="btn-12" class="btn-table btn-batsu btn-rough-md
      text-center btn-left btn-midbot"><%= t "table.tab12" %></div>
    <div id="btn-13" class="btn-table btn-batsu btn-rough-md
      text-center btn-right btn-midbot"><%= t "table.tab13" %></div>
    <div id="btn-17" class="btn-table btn-batsu btn-oval-huge
      text-center btn-midcen"><%= t "table.tab17" %></div>
  </div>
  <div>
    <div id="btn-14" class="btn-table btn-batsu btn-rough-md
      text-center btn-left btn-bottom2"><%= t "table.tab14" %></div>
    <div id="btn-15" class="btn-table btn-batsu btn-rough-huge
      text-center btn-center btn-bottom"><%= t "table.tab15" %></div>
    <div id="btn-16" class="btn-table btn-batsu btn-rough-md
      text-center btn-right btn-bottom2"><%= t "table.tab16" %></div>
  </div>
</div>
