<%= form_for :table, id: "table-form", remote: true do |f| %>
  <br>
  <div>
    <%= f.label :capacity_gteq, t("admin.orders.form.capacity"), class: "form-label" %>
    <%= f.text_field :capacity_gteq, class: "form-control form-group",
      id:"capacity_field", required: true, placeholder: t("reserve.quantity") %>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= f.label :orders_day_eq, t("admin.orders.form.pickdate"), class: "form-label" %>
      <%= f.text_field :orders_day_not_eq, class: "form-control datepicker2",
        placeholder: t("reserve.date"), id:"date_field", required: true %>
    </div>
    <div class="col-sm-8">
      <%= f.label :orders_time_in_eq, t("admin.orders.form.time"),class: "form-label" %>
      <%= f.select :orders_time_in_not_eq, [[t("select.em"), 1], [t("select.lm"), 2],
        [t("select.ea"), 3], [t("select.la"), 4],
        [t("select.ee"), 5], [t("select.le"), 6]],
        {include_blank: t("reserve.time")}, id:"time_field",
        class: "form-control", required: true %>
    </div>
  </div>
  <br>
  <div id="btn-find-table" class="log-btn btn-find-table text-center col-sm-10">
    <%= t "reserve.find" %></div>
  <div id="btn-submit-table">
    <%= f.submit t("reserve.submit"), class: "log-btn btn-summit-table", id: "btn-summit-table" %>
  </div>
<% end %>

