<%= form_for :table, id: "table-form", remote: true do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger alert-dismissable fade in alert-1 hide">
        <%= t "table.alert1" %>
      </div>
    </div>
    <div class="col-sm-12">
      <%= f.label :capacity_gteq, t("admin.orders.form.capacity"),
        class: "form-label" %>
      <%= f.number_field :capacity_gteq, class: "form-control form-group",
        id:"capacity_field", required: true,
        placeholder: t("reserve.quantity") %>
    </div>
    <div class="row row-form">
      <div class="col-sm-6">
        <%= f.label :orders_day_eq, t("admin.orders.form.pickdate"), class: "form-label" %>
        <%= f.text_field :orders_day_not_eq, class: "form-control datepicker2",
          placeholder: t("reserve.date"), id:"date_field", required: true %>
      </div>
      <div class="col-sm-6">
        <%= f.label :orders_time_in_eq, t("admin.orders.form.time"),
          class: "form-label" %>
        <%= f.text_field :orders_day_not_eq, class: "form-control form-control2
          timepicker", placeholder: t("reserve.date"),
          id:"timepicker", required: true %>
      </div>
    </div>
    <div class="col-sm-12 mg-center">
      <hr>
      <input type="button" name="next" data-next="1" data-current="0"
        class="next action-button" value="Next" step="1"/>
    </div>
  </div>
<% end %>

