<section class="table-section">
  <div class="container-fluid vertical-center">
    <ul id="progressbar">
      <li class="active"><%= t "table.pick_time" %></li>
      <li><%= t "table.book_table" %></li>
      <li><%= t "table.confirm" %></li>
    </ul>
    <div class="row block" id="block-0">
      <div class="col-sm-12">
        <h2 class="stylish-heading h1style font-mont heading-small">
          <%= t "table.reservation" %>
        </h2>
        <br>
      </div>
      <div class="col-sm-4 col-sm-offset-4 box">
        <%= render "reservation" %>
      </div>
    </div>
    <div class="row block" id="block-1">
      <div class="col-sm-12">
        <h2 class="stylish-heading h1style font-mont">
          <%= t "table.available_table" %>
        </h2>
      </div>
      <div class="col-sm-6 box col-sm-offset-3">
        <div class="alert alert-danger alert-dismissable fade in alert-2 hide">
          <%= t "table.alert2" %>
        </div>
        <%= render "tables/map" %>
      </div>
    </div>
    <div class="row block" id="block-2">
      <div class="col-sm-12">
        <h2 class="stylish-heading h1style font-mont heading-small">
          <%= t "table.confirm" %>
        </h2>
      </div>
      <div class="col-sm-6 box col-sm-offset-3">
        <%= render "tables/confirm", guest: @guest %>
      </div>
    </div>
  </div>
</section>
