<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="col-sm-8 col-sm-offset-2">
  <div class="search-form">
    <%= search_form_for @search, remote: true do |f| %>
      <%= t ".sort" %>
      <%= sort_link @search, :name, {}, {remote: true, method: :get} %>
      <%= sort_link @search, :price, {}, {remote: true, method: :get} %>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= t ".check" %>
      <%= f.select :isAvailable_true, [[t(".available"), 1]],
        {include_blank: t(".all"),
        selected: params[:q] ? params[:q][:isAvailable_true] : ''},
        class: "btn btn-default" %>
      <div class="input-group input-group-lg">
        <div class="form-group has-feedback has-clear input-group-lg">
          <%= f.text_field :name_or_description_cont, class: "form-control",
            placeholder: t(".input_keyword"), id: "searchinput" %>
          <span id="searchclear" class="form-control-clear glyphicon 
            glyphicon-remove-circle form-control-feedback"></span>
        </div>
        <span class="input-group-btn">
          <%= f.submit t(".search"), class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
  <div id="pagination" class="apple-pagination">
    <%= paginate @dishes, remote: true %>
  </div>
  <div id="counter" class="pagination_count text-center counter">
    <%= page_entries_info @dishes, remote: true %>
  </div>
</div>
<br>
<div class="col-sm-12">
  <% @dishes.each do |dish| %>
    <div class="items col-xs-12 col-sm-4">
      <div class="item-inner">
        <div class="item">
          <%= image_tag dish.image, class: "img-responsive",
            onerror: "this.src='https://getawayoutdoors.com.au/UploadFiles/noimage.jpg';" %>
          <div class="overlay"></div>
          <div class="button"><%= link_to t(".view"), dish_path(dish) %></div>
        </div>
        <h4><%= link_to dish.name, dish_path(dish) %></h4>
        <h2><i class="fa fa-usd"></i><%= dish.price %></h2>
        <br>
      </div>
    </div>
  <% end %>
</div>
