<% flash.each do |key, value| %>
  <div class="flash-message <%= key %>">
    <%= value %>
  </div>
<% end %>
<br>
<div class="search-form">
  <%= render "combos/search", combo_support: combo_support %>
</div>
<div id="pagination" class="apple-pagination">
  <%= paginate combo_support.combos_search, remote: true %>
</div>
<div id="counter" class="pagination-count text-center counter">
  <%= page_entries_info combo_support.combos_search, remote: true %>
</div>
<div class="deal-container" >
  <div class="col-sm-12">
    <% combo_support.combos_search.each do |combo| %>
      <div class="deal">
        <%= link_to combo_path(combo), target: "_blank" do %>
          <% image_tag combo.image, class:"lazy-img", title: combo.name,
            onerror: "this.src='https://t4.ftcdn.net/jpg/01/07/86/19/500_F_107861953_YZ800J1eDVtaEVAMXj1KRpez6efJpm7D.jpg';" %>
        <% end %>
        <h1>
          <%= link_to combo.name, combo_path(combo),
            target: "_blank", class: "display" %>
        </h1>
        <span class="deal-new-deal"></span>
        <div class="valid">
          <p><%= t ".valid_from" %>
            <%= combo.from.in_time_zone(Settings.time_zone).strftime("%b %d %Y") %>
            <%= t ".valid_to" %>
            <%= combo.to.in_time_zone(Settings.time_zone).strftime("%b %d %Y") %>
          </p>
        </div>
        <div class="description">
          <p>
            <%= truncate combo.description, length: Settings.max_length,
              omission: t(".continue") %>
          </p>
        </div>
        <ul class="details">
          <li>
            <div class="price">
              <i class="fa fa-usd"></i>
              <%= combo.price %>
            </div>
          </li>
          <li>
            <span class="value">
              <i class="fa fa-usd"></i><%= combo.subtotal %>
            </span>
          </li>
          <li>
            <span class="discount">
              <%= combo.discount %><i class="fa fa-percent"></i>
            </span>
            <%= t ".off" %>
          </li>
        </ul>
        <div class="btn-red">
          <%= link_to t(".deal"), combo_path(combo), title: combo.name, target:"_blank" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
