<%= search_form_for @combo_support.search(params), remote: true do |f| %>
  <%= t ".sort" %>
  <%= sort_link @combo_support.search(params),
    :name, {}, {remote: true, method: :get} %>
  <%= sort_link @combo_support.search(params),
    :discount, {}, {remote: true, method: :get} %>
  <div class="input-group input-group-lg">
    <div class="form-group has-feedback has-clear input-group-lg">
      <%= f.text_field :name_or_description_cont, class: "form-control",
        placeholder: t(".input_keyword"), id: "searchinput" %>
      <span id="searchclear" class="form-control-clear glyphicon
        glyphicon-remove-circle form-control-feedback"></span>
    </div>
    <span class="input-group-btn">
      <%= f.submit t(".search"), class: "btn btn-primary" %>
    </span>
  </div>
<% end %>
