<section class="section admin-site">
  <br><br>
  <div class="col-sm-12 col-xs-12">
    <div class="bloc col-xs-8 col-xs-offset-2">
      <hr>
      <h1 class="text-center"><%= t "admin_users.new_admin" %></h1>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <%= form_for @admin, url: admin_users_path do |f| %>
            <div class="col-sm-12">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email,
                class: "form-control form-group", required: true %>
            </div>
            <div class="col-sm-12">
              <%= f.label :name, class: "form-label" %>
              <%= f.text_field :name,
                class: "form-control form-group", required: true %>
            </div>
            <div class="col-sm-12">
              <%= f.label :role, class: "form-label" %>
              <%= f.select :admin_role, Admin.roles_select,
                {include_blank: t("admin.roles")}, id:"role_field",
                class: "form-control", required: true %>
            </div>
            <div class="col-sm-12">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password,
                class: "form-control form-group", required: true %>
            </div>
            <div class="col-sm-12">
              <%= f.label :password_confirmation, class: "form-label" %>
              <%= f.password_field :password_confirmation,
                class: "form-control form-group", required: true %>
            </div>
            <div class="col-sm-12">
              <%= f.button t("helpers.submit.category.create", {model: Admin}),
                class: "btn btn-primary center-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
