<footer class="footer animated fadeIn animated wow" data-wow-delay="0.2 s">
  <div class="container">
    <div class="row">
      <div class="animated fadeIn wow slideInLeft col-md-4 col-sm-4" data-wow-delay="0.3s">
        <h3><%= t "footer.about" %></h3>
        <p><%= t "footer.about_content" %></p>
      </div>
      <div class="animated fadeIn wow slideInLeft col-md-4
       col-sm-4 col-md-offset-1 col-sm-offset-1" data-wow-delay="0.4s">
        <h3><%= t "footer.contact" %></h3>
        <p><%= t "footer.contact_content1" %></p>
        <p><%= t "footer.contact_content2" %></p>
        <p><%= t "footer.contact_content3" %></p>
      </div>
      <div class="animated fadeIn wow slideInLeft col-md-2
       col-sm-2 col-md-offset-1 col-md-offset-1" data-wow-delay="0.5s">
        <h3><%= t "footer.open" %></h3>
        <strong><%= t "footer.open_content1" %></strong>
        <p><%= t "footer.open_content2" %></p>
        <strong><%= t "footer.open_content3" %></strong>
        <p><%= t "footer.open_content4" %></p>
      </div>
    </div>
  </div>
</footer>
