<ul class="nav navbar-nav navbar-right animated fadeInDown wow" data-wow-delay="0.3s">
  <li><%= link_to t("home.home"), "#top", class: "smoothScroll animated fadeInLeft wow",
    "data-wow-delay": "0.4s", method: :get %></li>
  <li><%= link_to t("home.menu"), "#menu", class: "smoothScroll animated fadeInLeft wow",
    "data-wow-delay": "0.5s", method: :get %></li>
  <li><%= link_to t("home.book"), "#book", class: "smoothScroll animated fadeInLeft wow",
    "data-wow-delay": "0.6s", method: :get %></li>
  <li><%= link_to t("home.combo"), "#combo", class: "smoothScroll animated fadeInLeft wow",
    "data-wow-delay": "0.7s", method: :get %></li>
  <li><%= link_to t("home.contact"), "#contact", class: "smoothScroll animated fadeInLeft wow",
    "data-wow-delay": "0.75s", method: :get %></li>
  <li><%= link_to t("home.cart"), "#seecart", class: "smoothScroll animated fadeInLeft wow",
    "data-wow-delay": "0.8s", method: :get %></li>
</ul>
