<ul class="nav navbar-nav navbar-right fadeInDown">
  <li><%= link_to t("home.home"), root_path, class: "smoothScroll animated fadeInDown wow",
    "data-wow-delay": "0.4s", method: :get %></li>
  <li><%= link_to t("home.menu"), dishes_path, class: "smoothScroll animated fadeInDown wow",
    "data-wow-delay": "0.50s", method: :get %></li>
  <li><%= link_to t("home.book"), tables_path, class: "smoothScroll animated fadeInDown wow",
    "data-wow-delay": "0.55s", method: :get %></li>
  <li><%= link_to t("home.combo"), combos_path, class: "smoothScroll animated fadeInDown wow",
    "data-wow-delay": "0.6s", method: :get %></li>
  <li><%= link_to t("home.contact"), orders_path, class: "smoothScroll animated fadeInDown wow",
    "data-wow-delay": "0.65s", method: :get %></li>
  <li id="cart-text" class="smoothScroll fade-in-left">
    <%= render "layouts/cart_text" %>
  </li>
</ul>
