<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t "brand" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://mynameismatthieu.com/WOW/dist/wow.min.js"></script>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Slabo 27px" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yanone Kaffeesatz" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Libre Baskerville" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open Sans Condensed:300" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Khand" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbolinks-track": "true" %>
  </head>
  <div class="navbar navbar-default navbar-static-top fadeInDownBig" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <%= link_to t("brand"), root_path , id: "brand", class: "navbar-brand faded", method: :get %>
      </div>
      <div class="collapse navbar-collapse">
        <% if logged_in? %>
          <%= render "layouts/menu_admin" %>
        <% else %>
          <%= render "layouts/menu_guest" %>
        <% end %>
      </div>
    </div>
  </div>
  <body>
    <%= render "shared/flash" %>
    <%= yield %>
    <section>
      <%= render "layouts/footer" %>
    </section>
  </body>
</html>
